.vue-course-requisite {
  $blue: #303e4d;

  button:disabled,
  button:disabled:hover {
    opacity: 0.5;
  }

  button {
    -webkit-font-smoothing: antialiased;

    padding: 10px 20px;
    width: 130px;

    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button.hollow {
    padding: 8px 18px;

    color: $blue;
    background-color: rgba(255,255,255,0);
    border: 1px solid $blue;
  }

  button:hover,
  button:focus {
    color: white;
    background-color: $blue;
    opacity: 1;
    opacity: 0.9;
    outline: none;
  }

  button:active {
    opacity: 0.7;
    outline: none;
  }

  button:disabled {
    cursor: not-allowed;
  }

  button.small {
    padding: 5px 10px;
    font-size: 0.4em;
  }
}
