.vue-course-requisite {
  .requisite-operand {
    color: #777;
    font-size: 11px;
    top: -1px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 5px;
  }

  .requisite-course {
    &.valid {
      color: #a0b222;
    }

    &.warning {
      color: #ffcc3f;
    }

    &.error {
      color: #c10037;
    }
  }

  .requisite-string-expanded:not(.top-requisites-string) {
    display: block;
    margin-left: 20px;
  }

  .requisite-string-expanded .requisite-operand {
    padding-left: 20px;
    font-weight: bold;
    font-size: 12px;
  }
}
