@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.vue-course-requisite {
  $prereq-spine-width: 24px;
  $dark-gray: #5e5d60;
  $medium-gray: #999;
  $light-gray: #a4a3a7;
  $lighter-gray: #eee;
  $cherry: #c10037;
  $base-font-family: 'Source Sans Pro', 'sans-serif';

  font-family: $base-font-family;

  margin-top: 10px;
  margin-bottom: 10px;

  ul {
    font-family: $base-font-family;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .requisite-buttons {
    button {
      width: 120px;
    }
  }

  .requisite-group-container {
    position: relative;
    background-color: rgba($dark-gray, 0.25);

    & > .requisite-group > div:not(:first-child) > .requisite-group-container {
      border-top: 2px solid $medium-gray;
    }

    .requisite-group-type {
      position: absolute;
      width: $prereq-spine-width;
      height: 100%;
      top: 0;
      left: 0;

      div {
        position: absolute;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        overflow: visible;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .requisite-group {
      width: calc(100% - $prereq-spine-width);
      margin-left: $prereq-spine-width;
    }

    .requisite {
      padding: 10px;
      padding-right: 0px;

      border-top: 1px solid $lighter-gray;
      border-bottom: 1px solid $lighter-gray;
    }
  }

  .requisite-name {
    float: left;
    font-weight: bold;
    width: 200px;
  }

  .requisite-info-input {
    display: inline-block;
    width: 100px;
    // padding: 20px;

    input {
      margin: 0;
      margin-left: 3px;
    }

    input[type = 'number'] {
      box-sizing : border-box;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      width: 100%;
      border: 1px solid #e8e8e8;
      color: #35495e;
    }
  }

  .requisite-options {
    width: 50px;
    text-align: right;
    float: right;

    i {
      padding-left: 10px;
      color: $dark-gray;
      cursor: pointer;
    }

    .fa-trash:hover {
      color: $cherry;
    }

    .fa-share-alt:hover {
      color: black;
    }

  }

  .requisite-group-new,
  .requisite-group-add {
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:hover div {
      display: block;
    }
    div {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
      width: 200px;

      display: none;
      // font-family: $base-font-family;

      ul {
        // margin-top: 40px;
        background-color: white;
        box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
        border: 1px solid #222;
        color: $dark-gray;
        border-radius: 2px;
      }

      li {
        padding: 10px 15px;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;

        &:hover {
          background-color: #222;
          color: white;
        }
      }
    }
  }

  .requisite-group-add {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;

    div {
      left: 100%;
    }
  }

  .requisite-info {
    width: 250px;
    float: right;
  }

  .placement-test-requisite,
  .course-requisite,
  .custom-requisite {
    position: relative;
  }

  .course-requisite-info div {
    display: block;
    clear: both;
    padding-top: 10px;

    .vue-course-requisite {
      display: inline;
    }
  }

  .custom-requisite input {
      box-sizing : border-box;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      width: 100%;
      border: 1px solid #e8e8e8;
      color: #35495e;
  }

  &.editing {
    .top-requisites {
      margin-bottom: 10px;
    }

    .requisite-info.text,
    .requisite-options.text {
      margin-top: 7px;
    }

    .requisite-group-type div {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -300%) rotate(-90deg);
    }
  }

  &.show-types:not(.editing) {
    .placement-test-requisite:before {
      content: 'Placement Test';
    }

    .course-requisite:before {
      content: 'Course';
    }

    .custom-requisite:before {
      content: 'Custom';
    }

    .placement-test-requisite:before,
    .course-requisite:before,
    .custom-requisite:before {
      position: absolute;
      top: -8px;
      left: 0;
      z-index: 1;
      color: $light-gray;
      font-size: 10px;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  .clear {
    clear: both;
  }

  .white {
    background: white;
  }
}
