<template>
  <div class = 'course-requisite'>
    <template v-if = 'editing'>
      <div class = 'requisite-select requisite-name'>
        <multiselect
          :options = 'courseList'
          v-model = 'operand.course'
          track-by = 'id'
          label = 'full_name'
          selected-label = ''
          deselect-label = ''
          select-label = ''
          :allow-empty = 'false'
        >
        </multiselect>
      </div>
      <div class = 'requisite-options text'>
        <group-requisite
          @group = 'type => $emit("group", type)'
          v-bind = '$props'
        ></group-requisite>
        <i class = 'fa fa-trash' @click = '$emit("delete", operand)'></i>
      </div>
      <div class = 'requisite-info' v-if = 'isPrereq'>
        Minimum Grade:
        <multiselect
          :options = 'grades'
          v-model = 'operand.minimum_course_grade'
          selected-label = ''
          deselect-label = ''
          select-label = ''
          class = 'requisite-info-input'
          :allow-empty = 'false'
        >
        </multiselect>
      </div>
      <div class = 'requisite-info text' v-if = 'isPrereq'>
        Also Corequisite: <input type = 'checkbox' v-model = 'operand.concurrency_ind'>
      </div>
      <div class = 'requisite-info text' v-if = 'courses && courses.length && allCourses && allCourses.length && isPlanItemSpec'>
        Show All Courses: <input type = 'checkbox' v-model = 'showAllCourses'>
      </div>
    </template>
    <template v-else>
      <div class = 'requisite-name'>
        {{ operand.course.full_name }}
      </div>
      <div class = 'requisite-info' v-if = 'isPrereq'>
        Minimum Grade: {{ operand.minimum_course_grade }}
      </div>
      <div class = 'requisite-info text' v-if = 'isPrereq'>
        Also Corequisite: {{ operand.concurrency_ind ? "Yes" : "No" }}
      </div>
      <div class = 'course-requisite-info' v-if = 'isPlanItemSpec'>
        <div>
          {{ operand.course.description }}
        </div>
        <div v-if = 'operand.course.prereq'>
          Prerequisites:
          <requisites-string
            :operand = 'operand.course.prereq'
            requisiteType = 'prereqs'
          ></requisites-string>
        </div>
        <div v-if = 'operand.course.coreq'>
          Corequisites:
          <requisites-string
            :operand = 'operand.course.coreq'
            requisiteType = 'coreqs'
          ></requisites-string>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import RequisitesString from './RequisitesString.vue'
  import GroupRequisite from './GroupRequisite.vue'
  import Multiselect from 'vue-multiselect'

  export default {
    props: ['operand', 'editing', 'requisiteType', 'courses', 'allCourses', 'placementTests'],

    data () {
      return {
        grades: ['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'CR'],
        showAllCourses: !this.courses.filter(c => this.operand.course && c.id === this.operand.course.id)[0]
      }
    },

    components: {
      GroupRequisite,
      Multiselect,
      RequisitesString
    },

    computed: {
      isPrereq () {
        return this.requisiteType === 'prereq'
      },

      isPlanItemSpec () {
        return this.requisiteType === 'plan_item_spec'
      },

      courseList () {
        if ((!this.allCourses || !this.showAllCourses) && this.courses) return this.coursesInclusive
        else return this.allCoursesInclusive
      },

      coursesInclusive () {
        if (!this.courses.filter(c => this.operand.course && c.id === this.operand.course.id)[0]) {
          return this.courses.concat([this.operand.course])
        } else {
          return this.courses
        }
      },

      allCoursesInclusive () {
        if (this.allCourses && !this.allCourses.filter(c => this.operand.course && c.id === this.operand.course.id)[0]) {
          return this.allCourses.concat([this.operand.course])
        } else {
          return this.allCourses
        }
      }
    }
  }
</script>
