<template>
  <span :class = 'classes'>
    {{ operand.course.full_number }}
    <span v-if = 'expanded && operand.statusMessage'>
      {{ operand.statusMessage }}
    </span>
  </span>
</template>

<script>
  export default {
    props: ['operand', 'requisiteType', 'expanded'],

    computed: {
      classes () {
        const classes = ['requisite-course']
        if (this.operand.status) classes.push(this.operand.status)
        return classes
      }
    }
  }
</script>
