<template>
  <div class = 'custom-requisite'>
    <template v-if = 'editing'>
      <section class = 'requisite-name'>
        <input placeholder = 'Custom Text' v-model = 'operand.description'></input>
      </section>
      <div class = 'requisite-options text'>
        <group-requisite
          @group = 'type => $emit("group", type)'
          v-bind = '$props'
        ></group-requisite>
        <i class = 'fa fa-trash' @click = '$emit("delete", operand)'></i>
      </div>
    </template>
    <template v-else>
      <div class = 'requisite-name'>
        {{ operand.description }}
      </div>
    </template>
  </div>
</template>

<script>
  import GroupRequisite from './GroupRequisite.vue'

  export default {
    props: ['operand', 'editing', 'requisiteType', 'courses', 'placementTests'],

    data () {
      return {
      }
    },

    components: {
      GroupRequisite
    },

    computed: {
      isPrereq () {
        return this.requisiteType === 'prereq'
      }
    }
  }
</script>
