<template>
  <i class = 'fa fa-share-alt requisite-group-new'>
    <div>
      <ul>
        <li @click = '$emit("group", "course")' v-if = 'courses.length || (allCourses.length || isPlanItemSpec)'>Group With Course</li>
        <li @click = '$emit("group", "placement_test")' v-if = 'placementTests.length && isPrereq'>Group With Placement Test</li>
        <li @click = '$emit("group", "custom")' v-if = 'isPrereq || isCoreq'>Group With Custom {{ requisiteType }}</li>
      </ul>
    </div>
  </i>
</template>

<script>
  export default {
    props: ['requisiteType', 'courses', 'allCourses', 'placementTests'],

    computed: {
      isPrereq () {
        return this.requisiteType === 'prereq'
      },

      isCoreq () {
        return this.requisiteType === 'coreq'
      },

      isPlanItemSpec () {
        return this.requisiteType === 'plan_item_spec'
      }
    }
  }
</script>
