<template>
  <span v-if = 'operand' :class = '{"requisite-string-expanded": expanded}'>
    <!-- display as req group only if it has multiple operands -->
    <template v-if = 'operand.operands'>
      <span class = 'requisite-paren' v-if = '!(root && !outerParentheses)'>(</span>
      <template v-for = '(op, i) in operand.operands'>
        <operand-string
          v-bind = '$props'
          :operand = 'op'
          :key = 'i'
          :root = 'false'
        ></operand-string>

        <span
          class = 'requisite-operand'
          v-if = 'i !== operand.operands.length - 1'
        >
          {{ operand.type }}
        </span>
      </template>
      <span class = 'requisite-paren' v-if = '!(root && !outerParentheses)'>)</span>
    </template>

    <!-- if there arn't multiple operands assume leaf requisite and render -->
    <span class = 'requisite-string' v-else>
      <component
        v-bind = '$props'
        :is = 'componentType'
        :operand = 'operand'
      ></component>
    </span>
  </span>
</template>

<script>
  import CourseString from './CourseString.vue'
  import PlacementTestString from './PlacementTestString.vue'
  import CustomString from './CustomString.vue'

  export default {
    name: 'operand-string',

    props: ['operand', 'requisiteType', 'expanded', 'root', 'outerParentheses'],

    computed: {
      componentType () {
        switch (this.operand.type) {
          case 'course':
            return 'course-string'
          case 'placement_test':
            return 'placement-test-string'
          case 'custom':
            return 'custom-string'
        }
      }
    },

    components: {
      CourseString,
      PlacementTestString,
      CustomString
    }
  }
</script>

<style>
</style>
