<template>
  <div class = 'placement-test-requisite'>
    <template v-if = 'editing'>
      <div class = 'requisite-select requisite-name'>
        <multiselect
          :options = 'placementTests'
          v-model = 'operand.placement_test'
          track-by = 'id'
          label = 'name'
          selected-label = ''
          deselect-label = ''
          select-label = ''
          :allow-empty = 'false'
        >
        </multiselect>
      </div>
      <div class = 'requisite-options text'>
        <group-requisite
          @group = 'type => $emit("group", type)'
          v-bind = '$props'
        ></group-requisite>
        <i class = 'fa fa-trash' @click = '$emit("delete", operand)'></i>
      </div>
      <div class = 'requisite-info'>
        Minimum Score:
        <section class = 'requisite-info-input'>
          <input type = 'number' v-model.number = 'operand.minimum_test_score'>
        </section>
      </div>
    </template>
    <template v-else>
      <div class = 'requisite-name'>{{ operand.placement_test.name }}</div>
      <div class = 'requisite-info'>
        Minimum Score: {{ operand.minimum_test_score }}
      </div>
    </template>
  </div>
</template>

<script>
  import GroupRequisite from './GroupRequisite.vue'
  import Multiselect from 'vue-multiselect'

  export default {
    props: ['operand', 'editing', 'requisiteType', 'courses', 'placementTests'],

    components: {
      GroupRequisite,
      Multiselect
    }
  }
</script>
