<template>
  <div class = 'vue-course-requisite' v-if = 'operand'>
    <operand-string
      class = 'top-requisites-string'
      v-bind = '$props'
      :operand = 'operand'
      :root = 'true'
    >
    </operand-string>
  </div>
</template>

<script>
  import OperandString from './OperandString.vue'

  export default {
    props: {
      operand: {
        required: true
      },

      requisiteType: {
        type: String,
        default: 'prereq'
      },

      expanded: {
        type: Boolean,
        default: false
      },

      outerParentheses: {
        type: Boolean,
        default: false
      }
    },

    components: {
      OperandString
    }
  }
</script>

<style>
</style>
