<template>
  <div v-if = 'operand'>
    <!-- display as req group only if it has multiple operands -->
    <template v-if = 'operand.operands'>
      <div class = 'requisite-group-container'>
        <!-- editing tools -->
        <template v-if = 'editing'>
          <div class = 'requisite-group-type' v-if = '!depth'>
            <div>
              AND <input type = 'radio' value = 'and' v-model = 'operand.type' />
              OR <input type = 'radio' value = 'or' v-model = 'operand.type' />
            </div>
          </div>
          <div class = 'requisite-group-type' v-else><div>{{ operand.type }}</div></div>

          <i class = 'fa fa-plus-circle requisite-group-add'>
            <div>
              <ul>
                <li @click = 'add("course")' v-if = 'courses.length || (allCourses.length || isPlanItemSpec)'>Add Course</li>
                <li @click = 'add("placement_test")' v-if = 'placementTests.length && isPrereq'>Add Placement Test</li>
                <li @click = 'add("custom")' v-if = 'isPrereq || isCoreq'>Add Custom {{requisiteType}}</li>
              </ul>
            </div>
          </i>
        </template>

        <!-- group type AND / OR -->
        <template v-else>
          <div class = 'requisite-group-type'><div>{{ operand.type }}</div></div>
        </template>

        <!-- render group of nested requisites -->
        <div class = 'requisite-group'>
          <requisites
            v-bind = '$props'
            v-for = '(subOperand, i) in operand.operands'
            :operand = 'subOperand'
            :key = 'i'
            :depth = 'depth + 1'
            :grouping = 'operand.type === "or" ? "and" : "or"'
            @delete = 'destroy'
            @update:operand = 'subOperandUpdate'
          ></requisites>
        </div>
      </div>
    </template>

    <!-- if there arn't multiple operands assume leaf requisite and render -->
    <div class = 'requisite white' v-else>
      <component
        v-bind = '$props'
        :is = 'componentType'
        :operand = 'operand'
        @delete = 'destroy'
        @group = 'group'
      ></component>

      <div class = 'clear'></div>
    </div>

  </div>
</template>

<script>
  // import Requisite from './Requisite.vue'
  import Requisites from './Requisites.vue'
  import NewRequisite from '../mixins/NewRequisite'
  import CourseRequisite from './CourseRequisite.vue'
  import PlacementTestRequisite from './PlacementTestRequisite.vue'
  import CustomRequisite from './CustomRequisite.vue'

  export default {
    name: 'requisites',

    // operand: the object that holds the requisite operand and nested operands
    // editing: boolean to enable requisite tree editing mode
    // requisiteType: either 'course', 'placementTest', or 'custom'
    // courses: list of courses to choose from when editing
    // placementTests: list of placement tests to choose from when editing
    // depth: requisite depth in tree
    // grouping: grouping to be used (e.g. 'or' or 'and') if not a leaf node
    props: ['operand', 'editing', 'requisiteType', 'courses', 'allCourses', 'placementTests', 'depth', 'grouping'],

    mixins: [NewRequisite],

    computed: {
      componentType () {
        switch (this.operand.type) {
          case 'course':
            return 'course-requisite'
          case 'placement_test':
            return 'placement-test-requisite'
          case 'custom':
            return 'custom-requisite'
        }
      },
      isPrereq () {
        return this.requisiteType === 'prereq'
      },
      isCoreq () {
        return this.requisiteType === 'coreq'
      },
      isPlanItemSpec () {
        return this.requisiteType === 'plan_item_spec'
      }
    },

    watch: {
      grouping (type) {
        if (this.operand.type === 'and' || this.operand.type === 'or') {
          this.operand.type = type
        }
      }
    },

    components: {
      Requisites,
      CourseRequisite,
      PlacementTestRequisite,
      CustomRequisite
    },

    methods: {
      destroy (req) {
        if (this.operand === req) {
          this.$emit('update:operand', null, this.operand)
        }
      },

      add (type) {
        let newReq = this.newRequisite(type)
        if (newReq) this.operand.operands.push(newReq)
      },

      group (type) {
        let newReq = this.newRequisite(type)

        if (newReq) {
          this.$emit('update:operand', this.newOperand(newReq), this.operand)
        }
      },

      newOperand (req) {
        return {
          type: this.grouping || 'and',
          operands: [this.operand, req]
        }
      },

      // custom update event handler for sub operand array elements
      // if newOperand is defined, the original operand will be replaced
      // if newOperand is null, the original operand will be removed
      // after update , if there is only one nested operands roll up the operand group
      subOperandUpdate (newOperand, originalOperand) {
        const index = this.operand.operands.indexOf(originalOperand)
        if (newOperand) this.operand.operands.splice(index, 1, newOperand)
        else this.operand.operands.splice(index, 1)

        if (this.operand.operands.length === 1) {
          this.$emit('update:operand', this.operand.operands[0], this.operand)
        }
      }
    }
  }
</script>

<style>
</style>
