<template>
  <div class = 'vue-course-requisite' :class = 'classes'>
    <requisites
      class = 'top-requisites'
      v-bind = '$props'
      :depth = '0'
      :operand = 'value'
      @update:operand = 'operandUpdate'
    >
    </requisites>

    <div
      class = 'no-requisite-message'
      v-if = '!value && !editing'
    >
      <div v-if = 'requisiteType === "plan_item_spec"'>
        This plan item has no course specs.
      </div>
      <span v-else>
        This course does not have any {{ requisiteType }}uisites.
      </span>
    </div>

    <requisites-controls
      v-bind = '$props'
      :operand = 'value'
      @update:operand = 'operandUpdate'
      v-if = 'editing'
    >
    </requisites-controls>
  </div>
</template>

<script>
  import Requisites from './Requisites.vue'
  import RequisitesControls from './RequisitesControls.vue'

  export default {
    props: {
      value: {
        required: true      // top level operands value
      },

      courses: {
        type: Array,
        default: () => []   // courses list
      },

      allCourses: {
        type: Array,
        default: () => []   // complete courses list only used by plan_item_spec type
      },

      placementTests: {
        type: Array,
        default: () => []   // placementTests list
      },

      editing: {
        type: Boolean,
        default: false      // editing state flag
      },

      requisiteType: {
        type: String,
        default: 'prereq'   // 'prereq' or 'coreq'
      },

      showTypes: {
        type: Boolean,
        default: true       // show the types in non-editing mode
      }
    },

    components: {
      Requisites,
      RequisitesControls
    },

    methods: {
      operandUpdate (newOperand) {
        this.$emit('input', newOperand)
      }
    },

    computed: {
      classes () {
        return {
          'editing': this.editing,
          'show-types': this.showTypes
        }
      }
    }
  }
</script>
