<template>
  <div class = 'requisites-controls'>
    <button
      type = 'button'
      class = 'btn small hollow add-requisite'
      :disabled = '!courses.length && !(allCourses.length || isPlanItemSpec)'
      @click = 'addRequisite(requisiteType, "course")'
    >
      Add Course
    </button>
    <button
      type = 'button'
      class = 'btn small hollow add-requisite'
      v-if = 'isPrereq'
      :disabled = '!placementTests.length'
      @click = 'addRequisite(requisiteType, "placement_test")'
    >
      Add Placement Test
    </button>
    <button
      type = 'button'
      class = 'btn small hollow add-requisite'
      v-if = 'isPrereq || isCoreq'
      @click = 'addRequisite(requisiteType, "custom")'
    >
      Add Custom {{ requisiteType }}
    </button>
  </div>
</template>

<script>
  import NewRequisite from '../mixins/NewRequisite'

  export default {
    props: ['operand', 'courses', 'allCourses', 'placementTests', 'requisiteType'],

    mixins: [NewRequisite],

    methods: {
      addRequisite (reqType, type) {
        let newReq = this.newRequisite(type)

        if (!this.operand) {
          this.updateOperand(newReq)
        } else if (['or', 'and'].indexOf(this.operand.type) > -1) {
          this.operand.operands.push(newReq)
          this.updateOperand(this.operand)
        } else {
          this.updateOperand({
            type: 'and',
            operands: [this.operand, newReq]
          })
        }
      },

      updateOperand (newOperand) {
        this.$emit('update:operand', newOperand)
      }
    },

    computed: {
      isPrereq () {
        return this.requisiteType === 'prereq'
      },
      isCoreq () {
        return this.requisiteType === 'coreq'
      },
      isPlanItemSpec () {
        return this.requisiteType === 'plan_item_spec'
      }
    }
  }
</script>

<style scoped>
</style>
