<template>
  <div id = 'demo'>
    Prereqs: <br>
    Editing: <input type = 'checkbox' v-model = 'prereqsEditing'>
    <requisites-interface
      v-model = 'prereqs'
      :editing = 'prereqsEditing'
      :courses = 'courses'
      :placement-tests = 'placementTests'
      requisiteType = 'prereq'
    ></requisites-interface>
    <br></br>
    Coreqs: <br>
    Editing: <input type = 'checkbox' v-model = 'coreqsEditing'>
    <requisites-interface
      v-model = 'coreqs'
      :editing = 'coreqsEditing'
      :courses = 'courses'
      requisiteType = 'coreq'
    ></requisites-interface>
    <br></br>
    Prereqs String:
    <requisites-string
      :operand = 'prereqs'
      requisiteType = 'prereq'
    ></requisites-string>
    {{ stringify(prereqs) }}
    <br></br>
    Coreqs String:
    <requisites-string
      :operand = 'coreqs'
      requisiteType = 'coreq'
    ></requisites-string>
    {{ stringify(coreqs) }}
    <br></br>
    <br></br>
    Plan Item Specs: (This is used specifically to associate a logicial course structure with a plan item) <br>
    Editing: <input type = 'checkbox' v-model = 'planItemSpecsEditing'>
    <requisites-interface
      v-model = 'planItemSpecs'
      :editing = 'planItemSpecsEditing'
      :courses = 'courses.slice(0, 1)'
      :allCourses = 'courses'
      :showTypes = 'false'
      requisiteType = 'plan_item_spec'
    ></requisites-interface>
    <br></br>
    Plan Item Spec String:
    <requisites-string
      :operand = 'planItemSpecs'
      requisiteType = 'plan_item_spec'
    ></requisites-string>
    {{ stringify(planItemSpecs) }}
  </div>
</template>

<script>
  import { RequisitesInterface, RequisitesString, requisiteStringify } from '../src/index'
  import { default as courses } from './testCourses.js'
  import { default as placementTests } from './testPlacementTests.js'

  export default {
    data () {
      return {
        prereqs: null,
        coreqs: null,
        planItemSpecs: null,
        prereqsEditing: true,
        coreqsEditing: true,
        planItemSpecsEditing: true,
        courses: courses,
        placementTests: placementTests
      }
    },

    components: {
      RequisitesInterface,
      RequisitesString
    },

    methods: {
      stringify: requisiteStringify
    }
  }
</script>

<style src = 'vue-multiselect/dist/vue-multiselect.min.css'></style>
